@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); /* Importa a fonte Quicksand do Google Fonts */

* {
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

:root {
    --cor-primaria: #8ab4f8; /* Cor primária (azul claro) */
    --cor-secundaria: #e8eaed; /* Cor secundária (cinza claro) */
    --cor-terciaria: #9aa0a6; /* Corte terciária (cinza médio) */
    --bg-color: #202124; /* Cor de fundo (cinza escuro) */
}

body {
    margin: 0; /* Remove a margem padrão do corpo */
    background: var(--bg-color); /* Define o fundo usando uma variável */
    color: var(--cor-secundaria); /* Define o cor do texto padrão usando uma variável */
    font-family: "Quicksand", sans-serif; /* Define a família da fonte */
}

header {
    padding: 2rem 1rem; /* Espaçamento interno (2rem em cima/baixo, 1rem nos lados) */
    display: flex; /* Habilita o layout flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Distribui os itens pelo espaço ao redor */
    position: sticky; /* Mantém o cabeçalho fixo no topo ao rolar a página */
    top: 0; /* Posição do topo quando sticky */
    background: var(--bg-color); /* Cor de fundo do cabeçalho */
    z-index: 10; /* Define a ordem de empilhamento para ficar sobre outros elementos */
    border-bottom: 1px solid var(--bg-color); /* Adiciona uma borda inferior */
    gap: 1rem; /* Espaçamento entre os elementos flex */
}

header h1 {
    font-size: 1.5rem; /* Tamanho da fonte */
    margin: 0; /* Remove a margem padrão */
    font-weight: 500; /* Peso da fonte (médio) */
    white-space: nowrap; /* Impedir a quebra de linha do texto */
}

div input {
    padding: 0.375rem 0.75rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: 1px solid var(--cor-terciaria); /* Define uma borda */
    background: var(--bg-color); /* Cor de fundo */
    font-family: inherit; /* Herda a família da fonte do elemento pai */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: all 0.2s ease; /* Adicionada uma transição suave para todas as propriedades */
    width: 30rem; /* Largura do input */
    color: var(--cor-secundaria); /* Cor do texto digitado */
    margin-right: 0.5rem; /* Margem à direita */
}

div input::placeholder {
    font-size: 1.2rem; /* Tamanho da fonte do placeholder */
    font-weight: 300; /* Peso da fonte do placeholder */
    color: var(--cor-terciaria); /* Cor do texto do placeholder */
}

div input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: var(--bg-color); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 0 0.1rem var(--cor-terciaria); /* Adiciona uma sombra de caixa para indicar foco */
}

#botao-busca {
    padding: 1rem 2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: none; /* Remove uma borda padrão */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    font-family: inherit; /* Herda a família da fonte */
    font-weight: 500; /* Peso da fonte */
    font-size: 1rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impedir a quebra de linha do texto */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave para cor de fundo e cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    color: var(--cor-secundaria); /* Cor do texto */
    border: 1px solid var(--bg-color); /* Adiciona uma borda */
}

#botao-busca:hover {
    background-color: var(--cor-primaria); /* Muda para o fundo ao passar o mouse */
    color: var(--bg-color); /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 0 0 0.1rem var(--cor-primaria); /* Adiciona uma sombra de caixa */
}

#botao-busca:ativo {
    transform: scale(0.98); /* Efeito de clique (diminui o tamanho) */
}

main {
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    height: calc(100vh - 10rem - 4rem); /* Calcula a altura para preencher o espaço restante da tela */
}

artigo {
    background: none; /* Sem fundo */
    border-radius: 0; /* Sem bordas arredondadas */
    padding: 0; /* Remover preenchimento o */
    padding: 0 1rem; /* Espaçamento interno nos lados */
    margin-bottom: 1.25rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease; /* Transição suave */
    border-bottom: 1px solid var(--bg-color); /* Borda inferior */
    padding-bottom: 1.5rem; /* Espaçamento interno inferior */
}

artigo:hover {
    transform: scale(1.01); /* Aumenta gradualmente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

artigo h2 {
    margin-top: 0; /* Remove uma margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--cor-primaria); /* Cor do texto */
}

artigo p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 0.5rem; /* Margem inferior */
    color: var(--cor-secundaria); /* Cor do texto */
}

artigo p forte {
    color: var(--cor-terciaria); /* Cor do texto em preto */
    font-weight: 400; /* Peso da fonte */
}

artigo um {
    color: var(--cor-primaria); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
}

artigo a:hover {
    text-decoration: underline; /* Adicionado sublinhado ao passar o mouse */
}

.rodapé {
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai posicionado */
    bottom: 0; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    color: var(--cor-terciaria); /* Cor do texto */
    background-color: var(--bg-color); /* Cor de fundo */
    padding: 15px 20px; /* Espaçamento interno */
    border-top: 1px solid #3c4043; /* Borda superior */
    font-size: 0.8rem; /* Tamanho da fonte */
}

.footer-location {
    color: #9aa0a6; /* Cor do texto */
    margin-bottom: 10px; /* Margem inferior */
}

.footer-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Habilita o layout flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 15px; /* Espaçamento entre os links */
}

.footer-links a {
    color: var(--cor-secundaria); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.2s; /* Transição suave para o cor */
}

.footer-links a:hover {
    color: var(--cor-primaria); /* Muda a cor do link ao passar o mouse (variável não definida) */
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho na coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o principal em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o artigo em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduza ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-break: break-word; /* Permite quebrar palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do artigo em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .rodapé { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}